*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 112.5%;
}

body {
  position: relative;
  margin: 0;
  display: grid;
  place-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.61;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 3rem auto 1.38rem auto;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small, .text-small {
  font-size: 0.889rem;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -99999;
}

a,
a:visited {
  color: #2440a8;
}
a:hover,
a:visited:hover {
  color: #2440a8;
}

nav a,
ul a,
li a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 1.38rem auto;
  padding: 0 0 0 2ch;
}

ul, ul > ul, ul > ul > ul {
  list-style-type: none;
}
ul li {
  position: relative;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 2ch;
}
ul li:before {
  position: absolute;
  content: " ";
  display: block;
  left: -0.125rem;
  top: 0.75rem;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.125rem;
  background: #c9cbcf;
  box-shadow: 0 1px 4px white, inset 1px 2px 3px #94969e;
}

nav ul li:before {
  content: "";
  display: none;
}

p {
  max-width: 65ch;
  margin: 0 auto 1rem auto;
}

h1 {
  max-width: 30.44ch;
}

h2 {
  max-width: 34.24ch;
}

h3 {
  max-width: 38.525ch;
}

.root {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  position: relative;
  overflow-y: auto;
}
.root > .page {
  height: 100%;
  width: 100%;
  display: grid;
}
.root > .page.basic {
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}
.root > .page.basic .header,
.root > .page.basic .main,
.root > .page.basic .footer {
  grid-column: 1/3;
}
.root > .page.basic .header {
  grid-row: 1;
}
.root > .page.basic .main {
  grid-row: 2;
}
.root > .page.basic .footer {
  grid-row: 3;
}
.root > .page.sidebar {
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
}
.root > .page.sidebar .header,
.root > .page.sidebar .footer {
  grid-column: 1/3;
}
.root > .page.sidebar .header {
  grid-row: 1;
}
.root > .page.sidebar .main,
.root > .page.sidebar .aside {
  grid-row: 2;
}
.root > .page.sidebar .main {
  grid-column: 1;
}
.root > .page.sidebar .aside {
  grid-column: 2;
}
.root > .page.sidebar .footer {
  grid-row: 3;
}
.root > .page, .root > header, .root > aside, .root > main, .root > footer,
.root section {
  position: relative;
}

.root .page .page-block > .page-block-container {
  margin: 2ch;
}

.root {
  background-color: #f2f2f3;
  color: #494a50;
}

.root > .page > .header .header-container, .root > .page > .header .header-container nav, .root > .page > .header .header-container nav .mobile-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.root > .page > .header .header-container {
  margin: 2ch;
}
.root > .page > .header .desktop-nav,
.root > .page > .header .mobile-nav:not(.open) {
  height: 0;
  width: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  opacity: 0;
}
.root > .page > .header .header-container nav .mobile-nav-wrap .contact-info {
  font-size: 0.889rem;
  margin-right: 1ch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.root > .page > .header .header-container nav .mobile-nav-wrap .contact-info .phone {
  display: flex;
  align-items: center;
  position: relative;
}
.root > .page > .header .header-container nav .mobile-nav-wrap .contact-info .phone .text {
  display: block;
  min-width: 103px;
}
.root > .page > .header .header-container nav .mobile-nav-wrap button {
  appearance: none;
  outline: none;
  border: none;
  padding: 1rem;
  background-color: transparent;
}
.root > .page > .header .header-container nav .mobile-nav-wrap button svg {
  width: 42px;
  height: auto;
}
.root > .page > .header .header-container nav .mobile-nav-wrap .mobile-nav {
  position: fixed;
}

@media screen and (min-width: 850px) {
  .root > .page > .header .desktop-nav {
    display: flex;
    height: fit-content;
    width: 400px;
    opacity: 1;
    font-size: 0.889rem;
  }
  .root > .page > .header .desktop-nav li a {
    display: flex;
    align-items: center;
    color: inherit;
  }
  .root > .page > .header .desktop-nav li a:hover > .icon, .root > .page > .header .desktop-nav li a:hover > .text {
    color: #35bd0f;
  }
  .root > .page > .header .desktop-nav li a .icon {
    display: flex;
    align-items: center;
    margin-right: 1ch;
  }

  .root > .page > .header .mobile-nav-wrap > button.menu-icon-container {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    width: 0;
    overflow: hidden;
  }
}
.root > .page > .header .mobile-nav.open {
  background: #18191b;
  color: #afb0b6;
  top: 1.5rem;
  right: 5.5rem;
  box-shadow: 0 0 12px -3px black;
  padding: 1rem 0;
  z-index: 9999;
}
.root > .page > .header .mobile-nav.open li a {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 200px;
}
.root > .page > .header .mobile-nav.open li a .icon {
  display: flex;
  align-items: center;
  margin-right: 2ch;
}
.root > .page > .header .mobile-nav.open li a:hover > .icon, .root > .page > .header .mobile-nav.open li a:hover > .text {
  color: White;
}

.root > .page > .header .mobile-nav {
  position: relative;
  transition: all 213ms ease;
  transform-origin: center right;
  border-radius: 3px;
}

a.btn-link,
a:visited.btn-link {
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding: 0 2ch;
  line-height: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 3px;
  transition: background 213ms ease;
}
a.btn-link:hover,
a:visited.btn-link:hover {
  color: white;
}
a.btn-link-cta,
a:visited.btn-link-cta {
  background: #35bd0f;
}
a.btn-link-cta:hover,
a:visited.btn-link-cta:hover {
  background: #39a01c;
}
a.btn-link-cta:active,
a:visited.btn-link-cta:active {
  background: #327a1f;
}
a.btn-link-link,
a:visited.btn-link-link {
  background: #2440a8;
}
a.btn-link-link:hover,
a:visited.btn-link-link:hover {
  background: #1342ec;
}
a.btn-link-link:active,
a:visited.btn-link-link:active {
  background: #1b307e;
}
a.btn-link-error,
a:visited.btn-link-error {
  background: #b31a3b;
}
a.btn-link-error:hover,
a:visited.btn-link-error:hover {
  background: #a01c39;
}
a.btn-link-error:active,
a:visited.btn-link-error:active {
  background: #7a1f32;
}

.page .page-block {
  padding: 3rem 0;
}
.page .page-block.inverted {
  background-color: #18191b;
  color: #afb0b6;
}

.footer {
  margin-top: 3rem;
  padding-top: 3rem;
}
.footer > .bottom {
  text-align: center;
  padding: 1ch 0;
  color: #94969e;
}

/*# sourceMappingURL=style.css.map */
