extends ./template.pug 

block CONTENT 
  .page.sidebar
    include ../includes/partials/header.pug
    include ../includes/partials/main.pug
    include ../includes/partials/aside.pug
    include ../includes/partials/footer.pug