*,
*:before,
*:after { box-sizing: border-box; }

html { font-size: $font-size; }

body { 
  position: relative;
  margin: 0; 
  display: grid;
  place-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: $font-family;
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin: 3rem auto 1.38rem auto;
  line-height: 1.3;
}

h1 { 
  margin-top: 0; 
  font-size: 1.802rem;
}

h2 { font-size: 1.602rem; }

h3 { font-size: 1.424rem; }

h4 { font-size: 1.266rem; }

h5 { font-size: 1.125rem; }

small, .text-small { font-size: 0.889rem; }

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a,
a:visited {
  color: $link-color;

  &:hover { color: $link-color; }
}

nav a,
ul a,
li a { 
  text-decoration: none;
  color: inherit; 
}

ul,
ol {
  margin: 1.38rem auto;
  padding: 0 0 0 2ch;
}

ul {
  &,
  & > ul,
  & > ul > ul { list-style-type: none; }

  li {
    position: relative;
    line-height: 2rem;
    font-size: 1rem;
    padding: 0 2ch;

    &:before {
      position: absolute;
      content: ' ';
      display: block;
      left: -0.125rem;
      top: 0.75rem;
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 0.125rem;
      background: grey(80);
      box-shadow: 0 1px 4px white, inset 1px 2px 3px grey(60);
    }
  }
}

nav ul li:before {
  content: '';
  display: none;
}

p { 
  max-width: 65ch; 
  margin: 0 auto 1rem auto;
}

h1 { max-width: 30.44ch; }

h2 { max-width: 34.24ch; }

h3 { max-width: 38.525ch; }