header#header.header 
  section.header-container 
    - var pages = [{name: 'Home', href: '/', icon: 'home'},{name: 'About', href: '/about', icon: 'message-square'},{name: 'Contact', href: '/contact', icon: 'send'}]
    block HEADER_CONTENT